## Deliverable 2. Create a Customer Travel Destinations Map.

In [68]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [69]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,62.02,67,75,13.80,broken clouds
1,1,Mataura,NZ,-46.1927,168.8643,66.36,63,100,2.33,light rain
2,2,Bambous Virieux,MU,-20.3428,57.7575,77.25,94,75,10.36,broken clouds
3,3,Bluff,NZ,-46.6000,168.3333,63.68,76,100,7.07,overcast clouds
4,4,Tshela,CD,-4.9833,12.9333,72.59,100,100,0.36,overcast clouds

In [48]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [49]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Bambous Virieux,MU,-20.3428,57.7575,77.25,94,75,10.36,broken clouds
6,6,Rikitea,PF,-23.1203,-134.9692,78.33,64,46,11.54,scattered clouds
7,7,Brownsville,US,25.9018,-97.4975,78.75,84,100,14.97,haze
8,8,Kapaa,US,22.0752,-159.3190,80.58,72,40,13.80,scattered clouds
9,9,Pyu,MM,18.4833,96.4333,88.56,40,12,2.75,few clouds
12,12,Nueva Armenia,HN,15.7956,-86.4985,78.98,94,3,3.11,clear sky
13,13,Butaritari,KI,3.0707,172.7902,81.99,80,25,15.66,light rain
15,15,Vaini,TO,-21.2000,-175.2000,80.76,83,75,6.91,broken clouds
16,16,Makakilo City,US,21.3469,-158.0858,77.32,61,75,13.80,broken clouds
18,18,Sao Joao Da Barra,BR,-21.6403,-41.0511,77.49,88,0,8.75,clear sky

In [53]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                209
City                   209
Country                209
Lat                    209
Lng                    209
Max Temp               209
Humidity               209
Cloudiness             209
Wind Speed             209
Current Description    209
dtype: int64

In [51]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

# Not needed due to having 209 counts for all

In [136]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,
6,Rikitea,PF,78.33,scattered clouds,-23.1203,-134.9692,
7,Brownsville,US,78.75,haze,25.9018,-97.4975,
8,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,
9,Pyu,MM,88.56,few clouds,18.4833,96.4333,
...,...,...,...,...,...,...,...
662,Soyo,AO,77.61,overcast clouds,-6.1349,12.3689,
665,Birao,CF,80.06,scattered clouds,10.2849,22.7882,
667,Saint-Leu,RE,76.03,light rain,-21.1500,55.2833,
674,Swan Hill,AU,78.39,clear sky,-35.3378,143.5544,
677,Gouyave,GD,77.77,few clouds,12.1646,-61.7296,

In [137]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [138]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,Casa Tia Villa
6,Rikitea,PF,78.33,scattered clouds,-23.1203,-134.9692,People ThankYou
7,Brownsville,US,78.75,haze,25.9018,-97.4975,Best Western Hotel Plaza Matamoros
8,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Pyu,MM,88.56,few clouds,18.4833,96.4333,Mr Bo Bo
...,...,...,...,...,...,...,...
662,Soyo,AO,77.61,overcast clouds,-6.1349,12.3689,Hotel Mpampa
665,Birao,CF,80.06,scattered clouds,10.2849,22.7882,
667,Saint-Leu,RE,76.03,light rain,-21.1500,55.2833,La Caz Oceane
674,Swan Hill,AU,78.39,clear sky,-35.3378,143.5544,Lazy River Motor Inn
677,Gouyave,GD,77.77,few clouds,12.1646,-61.7296,Rumboat Retreat

In [141]:
# 7. Drop the rows where there is no Hotel Name.
newDFArray = []
for index, row in hotel_df.iterrows():
    emptyArrayCheck = row["Hotel Name"]
    if len(emptyArrayCheck) > 0:
        newDFArray.append(row)
clean_hotel_df = pd.DataFrame(newDFArray)

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,Casa Tia Villa
6,Rikitea,PF,78.33,scattered clouds,-23.1203,-134.9692,People ThankYou
7,Brownsville,US,78.75,haze,25.9018,-97.4975,Best Western Hotel Plaza Matamoros
8,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Pyu,MM,88.56,few clouds,18.4833,96.4333,Mr Bo Bo
13,Butaritari,KI,81.99,light rain,3.0707,172.7902,Isles Sunset Lodge
15,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Makakilo City,US,77.32,broken clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
18,Sao Joao Da Barra,BR,77.49,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
24,Atuona,PF,79.74,clear sky,-9.8000,-139.0333,Villa Enata

In [143]:
# 8a. Create the output File (CSV)

output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv

clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure